{% extends "base.html" %} {% block title %} Recipe | Home{% endblock %}
<span></span>
{% block content %}

<div class="bg-base-100 px-10 shrink-0 shadow-2xl">
    {% if error_message %}
    <div role="alert" class="alert alert-error">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 shrink-0 stroke-current"
            fill="none"
            viewBox="0 0 24 24"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
            />
        </svg>
        <span>{{error_message}}</span>
    </div>
    {% endif %}
    <form
        class="card-body max-w-md mx-auto"
        method="post"
        enctype="multipart/form-data"
    >
        {% csrf_token %}
        <fieldset class="fieldset space-y-3">
            <label class="label">Recipe Name</label>
            <input
                type="text"
                class="input w-full"
                placeholder="Recipe Name"
                name="recipe_name"
            />

            <label class="label">Recipe Description</label>
            <textarea
                class="textarea w-full"
                placeholder="Recipe Description"
                name="recipe_description"
            ></textarea>

            <label class="label">Recipe Image</label>
            <input type="file" class="file-input w-full" name="recipe_image" />

            <!-- Button is centered and not full width -->
            <button
                class="btn btn-neutral w-auto self-center mt-4"
                type="submit"
            >
                Submit
            </button>
        </fieldset>
    </form>
    <div class="divider"></div>
    <form class="flex justify-center py-8">
        <label class="input w-full max-w-md">
            <svg
                class="h-[1em] opacity-50"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
            >
                <g
                    stroke-linejoin="round"
                    stroke-linecap="round"
                    stroke-width="2.5"
                    fill="none"
                    stroke="currentColor"
                >
                    <circle cx="11" cy="11" r="8"></circle>
                    <path d="m21 21-4.3-4.3"></path>
                </g>
            </svg>

            <input
                type="search"
                placeholder="Search"
                name="search"
                class="grow"
            />
        </label>
        <button class="btn btn-soft btn-primary mx-8" type="submit">
            Search
        </button>
    </form>

    <div
        class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100"
    >
        <table class="table">
            <!-- head -->
            <thead>
                <tr>
                    <th>S. No.</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recipes %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ recipe.recipe_name }}</td>
                    <td>{{ recipe.recipe_description}}</td>
                    <td>
                        <img
                            src="/media/{{recipe.recipe_image}}"
                            alt="{{recipe.recipe_name}} image"
                            style="height: 100px"
                        />
                    </td>
                    <td>
                        <a
                            href="{% url 'recipe:delete_recipe' recipe.id %}"
                            class="btn btn-soft btn-error"
                            >Delete</a
                        >
                    </td>
                    <td>
                        <a
                            href="{% url 'recipe:update_recipe' recipe.id %}"
                            class="btn btn-soft btn-success"
                            >Update</a
                        >
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
