<!doctype html>
<html lang="en">
    <link
        href="https://cdn.jsdelivr.net/npm/daisyui@5"
        rel="stylesheet"
        type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
        href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css"
        rel="stylesheet"
        type="text/css"
    />
    <title>{% block title %} Recipe App {% endblock %}</title>
    <body>
        {% block content %} {% endblock %}
    </body>
</html>
