<!doctype html>
<html lang="en">
    <link
        href="https://cdn.jsdelivr.net/npm/daisyui@5"
        rel="stylesheet"
        type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
        href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css"
        rel="stylesheet"
        type="text/css"
    />
    <title>{% block title %} Recipe App {% endblock %}</title>
    <body>
        <h1
            style="
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
                font-size: 2rem;
                font-weight: 600;
            "
        >
            Recipe Saver 📁
        </h1>
        {% block content %} {% endblock %}
    </body>
    <footer
        class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content p-4"
    >
        <aside>
            <p
                style="
                    background-color: grey;
                    color: white;
                    padding: 10px;
                    border-radius: 10px;
                "
            >
                Built with <span style="color: springgreen">Django</span> by
                Pradeep
            </p>
        </aside>
    </footer>
</html>
